<?xml version="1.0"?>
<launch>
    <!-- Load URDF/SRDF -->
    <param name="prl_ur5_description/urdf" command="
        $(find xacro)/xacro '$(find prl_ur5_description)/urdf/prl_ur5_robot.urdf.xacro'
        setup:=standart_setup
        table:=true
        backwall:=true
        ceiling:=true
        "/>

    <param name="prl_ur5_description/srdf" command="
        $(find xacro)/xacro '$(find prl_ur5_moveit_config)/config/standart_setup/prl_ur5_robot.srdf.xacro'
        setup_name:=standart_setup
        "/>
</launch>