<?xml version="1.0"?>
<launch>
    <!-- start robot simulation -->
    <include file="$(find prl_pinocchio)/launch/real.launch"/>

    <!-- Launch display and corba server for HPP -->
    <node pkg="prl_hpp" type="run_cmd_infinite.sh" name="gepettogui" args="gepetto-gui" output="screen"/>
    <node pkg="prl_hpp" type="run_cmd_infinite.sh" name="hppcorbaserver" args="hppcorbaserver" output="screen"/>
</launch>
